.custom-navbar {
    background-color: #1498cd; 
    border-bottom: 3px solid #0056b3; 
  }
  
  .custom-navbar .navbar-brand {
    color: #f61313;
    font-weight: bold; 
  }
  
  .custom-navbar .nav-link {
    color: #ffffff !important; 
    margin-right: 15px;
    transition: color 0.3s ease; 
  }
  
  .custom-navbar .nav-link:hover {
    color: #f61313 !important;
  }
  
  .custom-navbar .navbar-toggler {
    border-color: #ffffff; 
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Color blanco para el icono del toggler */
  }
  